<section class="hero">
  <div class="hero__top hero-decor">
    <div class="container hero__container">
      <h1 class="hero__title">Activity & Updates</h1>
      <p class="hero__subtitle text-p-subtitle">
        Our biggest c hallenge is making sure we're <br />
        always designing and building products that <br />
        will help you run your business better.
      </p>
      <nav class="hero__nav">
        <ul class="hero__list">
          <li class="hero__item">
            <a href="#" class="hero__link hero__link--active">View all</a>
          </li>
          <li class="hero__item">
            <a href="#" class="hero__link">Design</a>
          </li>
          <li class="hero__item">
            <a href="#" class="hero__link">Articles</a>
          </li>
          <li class="hero__item">
            <a href="#" class="hero__link">Product</a>
          </li>
          <li class="hero__item">
            <a href="#" class="hero__link">Software Development</a>
          </li>
          <li class="hero__item">
            <a href="#" class="hero__link">Customer Success</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>
