<section class="about__info">
  <div class="container">
    <ul class="about__info-list">
      <li class="about__info-item">
        <img src="./assets/image/about-info-1.png" alt="" class="about__info-img" />
        <h3 class="about__info-title">
          How we perform long-running tasks using AWS services
        </h3>
        <p class="about__info-descr">
          Webflow is web design tool as well as a hosting platform and CMS all
          in one. While you are probably familiar with all of these, they are
          usually entirely separate tools.
        </p>
      </li>
      <li class="about__info-item">
        <img src="./assets/image/about-info-2.png" alt="" class="about__info-img" />
        <h3 class="about__info-title">How to ask when doing User Research</h3>
        <p class="about__info-descr">
          Bro, the story is that you want to make an application for buying and
          selling goods on the market. During user research, what do you think
          you will ask people?
        </p>
      </li>
      <li class="about__info-item">
        <img src="./assets/image/about-info-3.png" alt="" class="about__info-img" />
        <h3 class="about__info-title">
          Layout Exploration — Simple exercise but big effect
        </h3>
        <p class="about__info-descr">
          Make alternatives or other options for the design we are making. For
          example, we are creating a website design. Then there is the
          testimonial section.
        </p>
      </li>
      <li class="about__info-item">
        <img src="./assets/image/about-info-4.png" alt="" class="about__info-img" />
        <h3 class="about__info-title">Webflow Break the Coding Barrier</h3>
        <p class="about__info-descr">
          Webflow is web design tool as well as a hosting platform and CMS all
          in one. While you are probably familiar with all of these, they are
          usually entirely separate tools.
        </p>
      </li>
    </ul>
  </div>
</section>
