<section class="about__slidebar">
  <div class="container">
    <div class="swiper insight__slider">
      <div class="insight__slider-btns">
        <svg
          width="28"
          height="18"
          viewBox="0 0 28 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide insight__article">
          <img
            loading="lazy"
            class="insight__article-img"
            src="./assets/image/team-slide1.png"
            width="515"
            height="428"
            alt="Woman typing on laptop and wrting on a notebook"
          />
        </div>
        <div class="swiper-slide insight__article">
          <img
            loading="lazy"
            class="insight__article-img"
            src="./assets/image/team-slide2.png"
            width="515"
            height="428"
            alt="Man typing on"
          />
          <h3 class="insight__article-title heading-h5">What we believe in</h3>
          <p class="insight__article-descr">
            Over the years at Sans, we’ve put a lot of thought into what it is
            that makes us who we are. The qualities that unite us, that make us
            such an effective team, and...
          </p>
          <button type="button" class="team__button">See Details -></button>
        </div>
        <div class="swiper-slide insight__article">
          <img style="max-height: 420px;"
            loading="lazy"
            class="insight__article-img"
            src="./assets/image/team-slide3.png"
            width="515"
            height="461"
            alt="Woman typing on laptop and wrting on a notebook"
          />
        </div>
      </div>
    </div>
  </div>
</section>
