.creators {
  padding: 160px 0;

  @include small-tablet {
    padding: 50px 0;
  }

  &__title {
    margin-bottom: 24px;
    max-width: 803px;
    font-weight: 600;
    font-size: 56px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);

    @include mobile {
      font-size: 38px;
    }
  }

  &__descr {
    max-width: 534px;
    font-weight: 500;
    font-size: 18px;
    line-height: 178%;
    color: var(--neutral-color-150);
  }

  &__slider {
    position: relative;
    margin: 80px 0 100px;

    @include mobile {
      margin: 40px 0;
    }

    &-btns {
      @include flex-all-center;
      position: absolute;
      top: 175px;
      left: 33%;
      z-index: var(--z-index-2);
      border-radius: 50%;
      width: 80px;
      height: 80px;
      background-color: #fff;
      transform: translateX(-50%);

      @include tablet {
        display: none;
      }
    }
  }

  &__article {
    max-width: 379px;

    @include mini-desktop {
      max-width: 350px;
    }

    @include mobile {
      max-width: 300px;
    }

    &-img {
      margin-bottom: 16px;
    }

    &-head {
      @include flex-all-between;
      margin-bottom: 16px;
      font-weight: 400;
      line-height: 150%;
      color: var(--neutral-color-150);

      @include small-mobile {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &-author {
      font-style: normal;
    }

    &-name {
      font-weight: 600;
      font-size: 24px;
      line-height: 150%;
      color: var(--neutral-color-100);
    }

    &-descr {
      margin-top: 8px;
      max-width: 530px;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      color: var(--neutral-color-150);
    }

    &-inner {
      @include flex-all-between;
    }

    &-socials {
      @include flex-all-center;
      gap: 8px;
    }
  }

  &__about {
    &-inner {
      @include flex-all-between;
      gap: 71px;

      @include small-tablet {
        gap: 30px;
        flex-direction: column;
        text-align: center;
      }
    }

    &-title {
      max-width: 630;
      font-weight: 600;
      font-size: 56px;
      line-height: 120%;
      letter-spacing: -0.04em;
      color: var(--neutral-color-100);

      @include small-tablet {
        font-size: 42px;
      }
    }

    &-info {
      max-width: 506px;
    }

    &-descr {
      margin-bottom: 24px;
      font-weight: 500;
      font-size: 18px;
      line-height: 178%;
      color: var(--neutral-color-150);
    }

    &-link {
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      color: var(--neutral-color-100);

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
