.team {
  padding: 105px 0 135px;

  @include mobile {
    padding: 50px 0 80px;
  }
}

.hero {
  &__title {
    margin-bottom: 118px;
    max-width: 959px;
    font-weight: 700;
    font-size: 72px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);

    @include small-tablet {
      margin-bottom: 50px;
    }

    @include mobile {
      font-size: 42px;
    }

    @include small-mobile {
      margin-bottom: 20px;
    }
  }

  &__subtitle {
    position: relative;
    max-width: 788px;

    @include mobile {
      font-size: 20px;
    }
  }

  &__inner {
    @include flex-all-between;
  }

  &__img {
    @include tablet {
      display: none;
    }

    &-icon {
      &-light {
        display: block;
      }

      &-dark {
        display: none;
      }
    }
  }

  [data-theme='dark'] &__img {
    &-icon {
      &-light {
        display: none;
      }

      &-dark {
        display: block;
      }
    }
  }
}

.text-p-subtitle::before {
  width: 100%;
  max-width: 75px;
}
